<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div id="root">
        <!--sezione per aggiungere la todolist-->
        <header>
            <input type="text" v-model="newItems">
            <button class="add-items" @click="addItems">add</button>
        </header>
        <!--stampare all'interno di una lista un item per ogni todo-->
        <div class="todo-wrapper">
            <ul>
        <!--se la proprietà done è uguale a true visualizzare il testo sbarrato-->
                <li v-for="(todo,index) in todoItems" class="lista" >
                    <span :class="todo.done ?  'done' : '' ">
                        {{todo.text}}
                    </span>
                    <i class="fa-solid fa-xmark" @click="removeToDo(index)"></i>
                </li>
            </ul>
        </div>
        
    </div>
    
    <script src="myjavascript.js"></script>
</body>
</html>